@model BibliothequeLIPAJOLI.Models.Pret

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pret</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRetourPrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRetourPrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRetourReelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRetourReelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livre.Auteur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usager.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
