@model IEnumerable<BibliothequeLIPAJOLI.Models.Pret>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetourPrevue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetourReelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetourPrevue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetourReelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livre.Auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usager.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
